body
{
    color:silver;
    background-color: teal;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
    margin-right;
    margin-left;
}

header , footer
{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a
{
    color:black;
    text-decoration: none;

}

a:hover
{
    color:greenyellow;
}

main
{
    text-align: center;
}

.center
{
     margin-left:auto;
     margin-right: auto;
}

table
{
    border: 5px solid black;
    text-align: center;
    color: black;
}
        
th
{
    border: 1px solid white;
}

tr
{
    border: 1px solid white;
}

ul
{
    text-align: center;
    color: black;
    display: inline-table;
}

il
{
    display: inline;
}