<footer>
    <hr />
    <nav>
        <a href="https://webpages.charlotte.edu/ksolera2/" target="_blank">Charlotte.edu</a>
        |
        <a href="https://github.com/ksolera" target="_blank">Github</a>
        |
        <a href="https://ksolera.github.io/" target="_blank">Github.io</a>
        |
        <a href="https://ksolera.github.io/itis3135/" target="_blank">ITIS 3135 Github Pages</a>
        |
        <a href="https://www.freecodecamp.org/ksolera/" target="_blank">FreeCodeCamp</a>
        |
        <a href="https://www.linkedin.com/in/keilor-solera-17509b197/" target="_blank">LinkedIn</a>
    </nav>
    <p>Created by <a href="https://webpages.charlotte.edu/ksolera2/itis3135/soleradesignindustries.com/soleradesignindustries.html">Solera Design Industries &copy;2022.</a></p>
    <p>
        <a href="https://validator.w3.org/check?uri=referer">
            <img src="images/button_validation_html5.png" width="88" height="31" alt="Link to HTML validator">
        </a>  
        <a href="https://jigsaw.w3.org/css-validator/check/referer">
            <img src="images/button_validation_css.png" width="88" height="31" alt="Link to CSS validator">
        </a>
    </p>
</footer>