<header>
    <h1>Keilor Solera | ITIS3135 | Kryptonite Salamander</h1>
    <nav> 
        <a href="https://webpages.charlotte.edu/ksolera2/itis3135/">Home</a>
         | 
        <a href="https://webpages.charlotte.edu/ksolera2/itis3135/introduction.html">Introduction</a>
         |
        <a href="https://webpages.charlotte.edu/ksolera2/itis3135/contract.html">Contract</a>
         |
        <a href="https://webpages.charlotte.edu/ksolera2/itis3135/forms.html">Forms</a>
         |
        <a href="https://webpages.charlotte.edu/ksolera2/itis3135/tables.html">Tables</a>
         |
        <a href="https://webpages.charlotte.edu/ksolera2/itis3135/website_evaluation.html">Website Evaluation</a>
         |
        <a href="https://webpages.charlotte.edu/ksolera2/itis3135/stuff/" >CRAPPY Website</a>
         |
        <a href=" http://webpages.charlotte.edu/ksolera2/itis3135/firstscripts.html">First JS</a>
         |
        <a href=" http://webpages.charlotte.edu/ksolera2/itis3135/polygons.html">Polygons</a>
         |
        <a href=" http://webpages.charlotte.edu/ksolera2/itis3135/calculator_try.html">Calculator Try</a>
         |
        <a href=" http://webpages.charlotte.edu/ksolera2/itis3135/calculator_refined.html">Calculator Refined</a>
         |
        <a href=" http://webpages.charlotte.edu/ksolera2/itis3135/arrays.html">Arrays</a>
         |
        <a href=" http://webpages.charlotte.edu/ksolera2/itis3135/slideshow.html">Slideshow</a>
         |
        <a href=" http://webpages.charlotte.edu/ksolera2/itis3135/imageswap.html">Image Swap</a>
         |
        <a href=" http://webpages.charlotte.edu/ksolera2/itis3135/activity11/activity11.html">Accordion</a>
         |
        <a href=" http://webpages.charlotte.edu/ksolera2/itis3135/activity12/ksolera-Activity12.html">Carousel</a>
    </nav>
    <hr />
</header>